<h1>@ViewBag.Message</h1>
<p>You have not yet created or joined a team. A team is a collection of 1 or more people who will participate in the management of the processes that are defined.</p>
<p>If you are the owner of the processes then you will want to create a new team.  If you work for someone who uses this app to manage their processes then you will want to join a team.</p>
<a href="/Team/Create">Create a new team</a>
<a href="/Team/Join">Join an existing team</a>