
@using Hacapp.Web.Models.Team
@model System.Collections.Generic.IEnumerable<Hacapp.Web.Models.Team.TeamDetailsViewModel>

<div class="row">
    <div class="col-md-4">
        <h3>Join a team</h3>
    </div>           
</div>
@foreach (TeamDetailsViewModel team in Model)
{
    <div class="row">
        <div class="col-md-1">
            @team.Name
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Join this team", "Join", new { teamId = team.Id }, new { Class = "btn btn-default btn-sm" }) 
        </div>
    </div>
}