@{
    ViewBag.Title = "No teams yet!";
}

<div class="row">
    <div class="col-md-4">
        <h2>No Teams!</h2>
        <p>
            Hmmm. It looks like you want to join a team, but no teams exist yet.
        </p>
        <p>
            Why don't you be the first person to create a team?
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" href="/Team/Create">Create a new team</a>
    </div>
</div>
